@font-face {
    font-family: "Raleway-Thin";
    src: url(Fontes/Raleway/Raleway-Thin.ttf);
}
@font-face {
    font-family: "Raleway-ExtraBold";
    src: url(Fontes/Raleway/Raleway-ExtraBold.ttf);
}
@font-face {
    font-family: "Raleway-Bold";
    src: url(Fontes/Raleway/Raleway-Bold.ttf);
}
body,html{
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
  }
a{
    font-family: "Raleway-Bold";
}
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background: #FF0000;
    color: white;
    font-size: 0.9rem;
  }

  .top-bar .social-icons a {
    margin-left: 0.5rem;
    color: white;
    text-decoration: none;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: black;
    color: white;
  }

  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

  .nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }

  .nav-list a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
  }

  .nav-list a:hover {
    color: red;
  }

  .menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
.banner {
    width: 100%;
    height: 100%;
}
.banner img{
    width: 100%;
    height: 100%;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 5px 20px;
}
.main-services-box{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-services-box h1{
    color: red;
    font-family: "Raleway-ExtraBold";
    font-size: 42px;
}
.services{
    width: 100%;
    height: 100%;
    max-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 50px;
}
.services p{
    font-family: "Raleway-ExtraBold";
    text-transform: uppercase;
}
.service-01,.service-02,.service-03{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bg-service-01{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
span{
    font-family: "Raleway-Bold";
}
.all-services{
    width: 100%;
    height: 400px;
    background-color: red;
    max-height: 900px;
    display: flex;
    padding-top: 10px;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.list-services{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
}
.all-services h1{
    font-family: "Raleway-ExtraBold";
    text-transform: uppercase;
    font-size: 38px;
    color: white;
}
.all-services ul{
    flex-wrap: wrap;
}
.all-services li{
    color: white;
    font-family: "Raleway-ExtraBold";
    font-size: 30px;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  @media (max-width: 768px) {
    .top-bar {
        flex-direction: row;
        align-items: center;
        padding: 0.5rem 1rem;
        font-size: 10px;
      }
    .header {
      flex-direction: column;
      align-items: center;
    }
    .services{
        flex-direction: column;

    }
    .services p{
        font-size: 12px;
    }
    .main-services-box h1{
        font-size: 30px;
    }
    .bg-service-01{
        width: 100px;
        height: 100px;
    }
    .engine-oil{
        width: 50px;
    }
    .estepe{
        width: 50px;
    }
    .motor{
        width: 50px;
    }
    .all-services{
        flex-direction: row;
        height: fit-content;
        padding-bottom: 20px;
    }
    .title h1{
        font-size: 30px;
    }
    .list-services{
        flex-direction: column;
        gap: 0;
    }
    .list-services ul{
        padding-bottom: 0;
        margin: 0;
    }
    .list-services li{
        font-size: 25px;
    }
    .nav {
      width: 100%;
    }

    .nav-list {
      display: none;
      flex-direction: column;
      background: black;
      width: 100%;
      padding: 1rem;
      box-sizing: border-box;
    }

    .nav-list.active {
      display: flex;
    }

    .menu-toggle {
      display: block;
      align-self: center;
    }
}